# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Environment variables
*.local
.env
.env.*
!.env.development
!.env.production

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo
